<template name="bandwidth">
    <form role="form">
        <fieldset>
            <legend>Bandwidth</legend>
            <div class="form-group">
                <label>Data Rate</label>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default">kbps</button>
                        <button class="btn btn-default active">Mbps</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Symbol Rate</label>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default">ksps</button>
                        <button class="btn btn-default active">Msps</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Bandwidth</label>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default">kHz</button>
                        <button class="btn btn-default active">MHz</button>
                    </span>
                </div>
            </div>
        </fieldset>
    </form>
</template>