<template name="allRequests">
    <h1>All link budget requests for {{sat}}</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Request time</th>
        </tr>
        </thead>

        <tbody>
        {{#each requests}}
        <tr>
            <td><a href="{{pathFor 'results'}}">{{assumptions.request_name}}</a></td>
            <td>{{toDateString requested_date}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</template>